.container{
    width: 240px;
    height: 240px;
    background-color: rgb(237, 253, 253);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4px;
    }
    /* .square{
    width: 70px;
    height: 70px;
    margin: 4px;
    background: rgb(124, 208, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    } */
    .cell{
    width: 70px;
    height: 70px;
    margin: 4px;
    background: rgb(124, 208, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }

    span{
        display: inline-block;
        /* transform: rotate(45deg); */
        color: darkblue;
        font-size: 50px;
    }
    